.tui-image-editor-header-logo{
    display:none;
}
.tui-image-editor-newline.tui-image-editor-range-wrap{
    display: none;
}
/* li.tie-btn-delete.tui-image-editor-item.help{
    display:none;
}
li.tie-btn-deleteAll.tui-image-editor-item.help{
    display:none;
} */
